.w3-theme-d1 {color:#fff !important; background-color:#d62d2d !important}
.w3-theme-d2 {color:#fff !important; background-color:#932828 !important}
.w3-theme-d3 {color:#fff; background-color: rgba(20,20,25,0.7);}
.w3-theme-d3m {color:#fff; background-color: rgba(0,0,0,0.8);}
.w3-theme-d33 {color:#fff; background-color: rgba(30,30,40,0.95);}
.w3-theme-d4 {color:#fff; background-color: rgba(40,40,45,0.6);padding-top: 0.25em;padding-bottom: 0.25em;}
.w3-theme-d44 {color:#fff; background-color: rgba(40,40,50,0.9);padding-top: 0.25em;padding-bottom: 0.25em;}


.aa-black{
    background-color: rgba(30,30,40,0.8);
    //border: 2px solid black;
}

.aa-white{
    background-color: rgba(255,255,255,0.9);
    color: black;
    //border: 2px solid black;
}

.aa-text-hot{
    color:white;
    text-shadow: -2px 2px black;
}

.BlogBG {
    background-image: url(../Images/Individuals/66.jpg);
    background-repeat: no-repeat;
    background-position:top center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
@media only screen and (max-width:424px) {
    .BlogBG {
        background-image: url(../Images/Individuals/66-sml.jpg);
        background-repeat: no-repeat;
        background-position:top center;
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }   
}