.dbg-blue
{
    border: 0.1em solid blue !important;
    outline: 0.1em solid darkblue !important;
}

.dbg-green
{
    border: 0.1em solid green !important;
    outline: 0.1em solid darkgreen !important;
}

.dbg-purple
{
    border: 0.1em solid purple !important;
    outline: 0.1em solid rgb(102, 0, 102) !important;
}

.dbg-yellow
{
    border: 0.1em solid yellow !important;
    outline: 0.1em solid rgb(255, 204, 0) !important;
}

.dbg-red
{
    border: 0.1em solid red !important;
    outline: 0.1em solid darkred !important;
}

.dbg-orange
{
    border: 0.1em solid orange !important;
    outline: 0.1em solid rgb(204, 102, 0) !important;
}

.dbg-white
{
    border: 0.1em solid white !important;
    outline: 0.1em solid #DDD !important;
}

.dbg-black
{
    border: 0.1em solid #222 !important;
    outline: 0.1em solid black !important;
}

.dbg-gray
{
    border: 0.1em solid gray !important;
    outline: 0.1em solid #444 !important;
}

.dbg-brown
{
    border: 0.1em solid brown !important;
    outline: 0.1em solid rgb(102, 51, 0) !important;
}