.w3-theme-d1 {color:#fff !important; background-color:#a62d2d !important}
.w3-theme-d2 {color:#fff !important; background-color:#932828 !important}
.w3-theme-d3 {color:#fff !important; background-color:#812323 !important}
.w3-theme-d4 {color:#fff !important; background-color:#6e1e1e !important}
.w3-text-d3 {color: #812323 !important}
.w3-hover-custom-red 
{
    transition-duration: 1s;-webkit-transition-duration: 1s;-moz-transition-duration: 1s;-o-transition-duration: 1s;
    transition-timing-function:ease;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;-o-transition-timing-function:ease;
    z-index: 1;
}
.w3-hover-custom-red:hover 
{color:#fff !important; background-color:#a62d2d !important;
    transition-duration: 1s;-webkit-transition-duration: 1s;-moz-transition-duration: 1s;-o-transition-duration: 1s;
    transition-timing-function:ease;-webkit-transition-timing-function:ease;-moz-transition-timing-function:ease;-o-transition-timing-function:ease;
    position: relative;
    z-index: 2;
}

.aa-round-bottom{
    border-radius: 0px 0px 1.5em 1.5em;
}

#logo {
    position: absolute; // Reposition logo from the natural layout
    left: 95px;
    top: 16px;
    z-index: 3;
    width: 10em;
    height: 7em;
}

#slogan {
    position: absolute; // Reposition logo from the natural layout
    left: 10em !important;
    top: 15px;
    z-index: 3;
    width: 10em;
    height: 5em;
}
#dough {
    display: none;
    position: absolute; // Reposition logo from the natural layout
    margin:0 auto;
    left: 0em !important;
    top: 15em;
    z-index: 1;
    width: 100%;
    height: 50em;
    image-rendering: -webkit-optimize-contrast;
}
#crust {
    position: absolute; // Reposition logo from the natural layout
    margin:0 auto;
    left: 0em !important;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 17em;
    image-rendering: -webkit-optimize-contrast;
}
#redLineLeft{
    display: inline-block;
    background-color:darkred;color:darkred;
    width:0.4em;height: 16em;
    margin-left: -0.4em;
    margin-top: 2%;
    //z-index: 5;
}
.padding-none{
    padding:0em!important;
    padding-bottom: 5px;
    //border:2px solid red;
    width: 12.5%;
}

.titleBarDivider{
    height:1em; width:100%;margin-bottom: 2em;border-radius:0px 0px 10px 10px;
}
.WhitePage
{
    width:85em!important;
    //position:relative;
    margin:0 auto;
    background-color:#fefdfa;color:#812323;
    padding:6em;
    margin-bottom:2em;
    box-shadow:3px 5px 15px #444;border-radius:20px;
}

.FullBG {
    background-image: url(../Images/Individuals/Background-PATTERN-1.jpg);
    background-repeat: repeat;
    background-position: center center;
    //background-attachment: fixed;
    background-size: 05%;
}

.CrustBG {
    background-image: url(../Images/Individuals/Homepage-Asset-3_cropped.png);
    background-repeat: no-repeat;
    background-position: center center;
    //background-attachment: fixed;
    background-size: 100% 100%;
}
.SlideShowBG {
    background-image: url(../Images/Individuals/homebg_2.jpeg),url(../Images/Individuals/Background-PATTERN-1.jpg);
    background-repeat: no-repeat,repeat;
    background-position: center center,center center;
    //background-attachment: fixed;
    background-size: 100% 100%,05%;
}

.BottomBG {
    position: relative;z-index: 3;
    background-image: url(../Images/Individuals/homepage_redbar.png);
    background-repeat: no-repeat;
    background-position: center center;
    //background-attachment: fixed;
    background-size: 100% 100%;
}

.GoldbarBG {
    background-image: url(../Images/Individuals/Homepage-Asset-2_cropped.png);
    background-repeat: no-repeat;
    background-position: center center;
    //background-attachment: fixed;
    background-size: 100% 100%;
}

.GoldbarFullBG {
    background-image: url(../Images/Individuals/Homepage-Asset-2_cropped.png);
    background-repeat: no-repeat;
    background-position: center center;
    //background-attachment: fixed;
    background-size: 100% 100%;
}

.AboutBG {
    background-image: url(../Images/Individuals/AboutBanner.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    //background-attachment: fixed;
    background-size: 100%;
    border: 0.1em solid #6e1e1e;
}

.WhyBG {
    background-image: url(../Images/Individuals/WhyBanner_cropped.png);
    background-repeat: no-repeat;
    background-position: center center;
    //background-attachment: fixed;
    background-size: cover;
    border: 0.1em solid #6e1e1e;
}

.FranchisePartnerBG
{    
    background-image: url(../Images/Individuals/FranchisePartnersBanner.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    //background-attachment: fixed;
    background-size: cover;
    border: 0.2em solid #6e1e1e;
    border-top: 0.2em solid #222;
}
