
/*         
                <span class="w3-left" style="width:50%;font-size:1.15em;letter-spacing:-4px;text-align:right"><span class="FontBold">Avenii</span> <br> <span style="font-size:20px;letter-spacing:0.2em">Johnson</span></span>
                <span class="w3-left" style="width:50%;font-size:0.75em"><span class="">Graphic</span> <br> <span class="FontBold" style="letter-spacing:0.125em;border-bottom:0.15em solid rgb(15,170,235);">Artist</span></span>
*/

@font-face {
    font-family: BebasNeueBook;
    src: url(Fonts/bebas_neue/BebasNeueBook.ttf) format('truetype');
    src: url(Fonts/bebas_neue/BebasNeueBook.otf) format('opentype');
    src: url(Fonts/bebas_neue/BebasNeueBook.woff) format('woff');
}
@font-face {
    font-family: BebasNeueThick;
    src: url(Fonts/bebas_neue/BebasNeue.ttf) format('truetype');
    src: url(Fonts/bebas_neue/BebasNeue.otf) format('opentype');
    src: url(Fonts/bebas_neue/BebasNeue.woff) format('woff');
}

@font-face {
    font-family: Herald;
    src: url(Fonts/Herald/Herald.ttf) format('truetype');
    src: url(Fonts/Herald/Herald.otf) format('opentype');
    src: url(Fonts/Herald/Herald.woff) format('woff');
}

.w3-allerta{font-family: "Allerta Stencil", Sans-serif;}
.Herald{font-family: 'Herald';}
.text-PTSans{font-family: 'PT Sans', sans-serif;}
.text-IndieFlower{font-family: 'Indie Flower', cursive, 'Amatic SC';}
.text-PMarker{font-family: 'Permanent Marker', cursive;}
.text-GHall{font-family: 'Gloria Hallelujah', cursive;}
.text-Ubuntu{font-family: 'Ubuntu', sans-serif;}
.text-Lato{font-family: 'Lato', sans-serif;}
.text-Montserrat{font-family: 'Montserrat', sans-serif;}
.text-Raleway{font-family: 'Raleway', sans-serif;}
.text-Condensed{font-family: 'Asap Condensed', sans-serif;}
.text-Economica{font-family: 'Economica', sans-serif;}
.text-IBM{font-family: 'IBM Plex Sans', sans-serif;}
.text-IBMCondensed{font-family: 'IBM Plex Sans Condensed', sans-serif;}
.text-SansSerif{font-family: 'Sans-Serif';}
.text-BebasNeue{font-family: 'BebasNeueBook';font-weight: 400;}
.text-BebasNeueThick{font-family: 'BebasNeueThick';}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

body
{
    //position: relative;
    //font-size: 100%;
    //font-family: 'PTSans';
    margin: 0 auto;
    padding: 0;
    height: 100%;
    background-color: #000;
    image-rendering: crisp-edges;

}

@media only screen and (min-width:1920px) {
    .aa-hide-1920x2560{
        display:none!important;
    }    
    .aa-show-1920x2560{
        display:block!important;
    }
    #MainVideo{
        width: 50%;
        height: 420px;
    }
}
@media only screen and (min-width:1440px) and (max-width:1919px) {
    .aa-hide-1440x{
        display:none!important;
    }    
    .aa-show-1440x{
        display:block!important;
    }
    #MainVideo{
        width: 50%;
        height: 420px;
    }
}
@media only screen and (min-width:1366px) and (max-width:1439px) {
    .aa-hide-1366x{
        display:none!important;
    }    
    .aa-show-1366x{
        display:block!important;
    }
    #MainVideo{
        width: 50%;
        height: 420px;
    }
}
@media only screen and (min-width:1024px) and (max-width:1365px) {
    .aa-hide-1024x{
        display:none!important;
    }    
    .aa-show-1024x{
        display:block!important;
    }
    .Gallery {
        max-height: 600px !important;
    }
    .GalleryItem{
        height: 300px !important;    
    }
    .Gio1024{
        margin-left:-40em !important;
    }
    .Video1024{
        margin-left:21em !important;
    }
    #MainVideo{
        width: 50%;
        height: 420px;
    }
}
@media only screen and (min-width:725px) and (max-width:1023px) {
    .aa-hide-tablet{
        display:none!important;
    }    
    .aa-show-tablet{
        display:block!important;
    }
    .aa-padding{
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    }
    #MainVideo{
        width: 50%;
        height: 420px;
    }    
    .MainBG{
        min-height: 800px !important;
    }
    .Beginners {
        max-height: 360px !important;
    }
    .Competitors {
        max-height: 360px !important;
    }
    .GalleryItem{
        height: 280px !important;
    }  
}

@media only screen and (min-width:425px) and (max-width:724px) {
    .aa-hide-mobile{
        display:none!important;
    }    
    .aa-show-mobile{
        display:block!important;
    }
    .aa-padding{
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
    }
    .aa-link-selected:before{
        width: 30px !important;
    }
    .aa-header{
        font-size: 1.75em !important;
    }
    .aa-header4{
        font-size: 2.75em !important;
    }
    #MainVideo{
        width: 58%;
        height: 320px;
    }
    .menuBar{
        font-size: 0.5em !important;
        padding-top: 0.5em !important; padding-bottom: 0.5em !important;
    }
    .MainBG{
        background-position: center center !important;
        min-height: 600px !important;
    }
    .Beginners {
        max-height: 320px !important;
    }
    .Competitors {
        max-height: 320px !important;
    }
    .Accolades {
        font-size: 1.25em !important;
    }
    .GalleryItem{
        height: 240px !important;
    }
    .OldGlovesBG {
        background-position:right right !important;
    }
}
@media only screen and (max-width:424px) {
    .aa-hide-mobile-425x{
        display:none!important;
    }    
    .aa-show-mobile-425x{
        display:block!important;
    }
    .aa-padding{
    padding-left: 0.25em !important;
    padding-right: 0.25em !important;
    }
    .aa-link-selected:before{
        width: 30px !important;
    }
    .aa-header{
        font-size: 1.75em !important;
    }
    .aa-header2{
        font-size: 2.5em !important;
    }
    .aa-header4{
        font-size: 2.25em !important;
    }
    .menuBar{
        font-size: 0.5em !important;
        padding-top: 0.5em !important; padding-bottom: 0.5em !important;
    }
    #MainVideo{
        width: 90%;
        height: 320px;
    }
    .MainBG{
        background-position: center center !important;
        min-height: 600px !important;
    }
    .Beginners {
        max-height: 320px !important;
    }
    .Competitors {
        max-height: 320px !important;
    }
    .About {
        padding: 0.5em !important;
    }
    .Accolades {
    font-size: 1.25em !important;
    }
    .GalleryItem{
        height: 240px !important;
    }
    .OldGlovesBG {
        padding: 0.5em !important;
    }
}


/**Top Page Navigation Menu**/

.FontBold
{
    font-weight: 800;
}
.Uppercase
{
    text-transform: uppercase;
}
.FirstChar
{
    font-weight: 550;
    font-size: 1.5em;
}
.underline
{
    text-decoration: underline;
}

.bottom
{
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif !important;
    //border-top: 0.45em solid white;
    background-color: black;
    color: white;
}

.Center{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-animation:animateCenter 0.5s;
    animation:animateCenter 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    //transform: translate(-50%, -50%);
}

.PageSlideLeft{
    -webkit-animation:animateSlideLeft 1s;
    animation:animateSlideLeft 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.text-shadow
{
    text-shadow: 2px 2px 12px black;
}

/**Borders**/


/**Hover Colors**/

.w3-btn-no-color
{
    color:white!important;
    background-color:rgba(0,0,0,0.3)!important;
    border-right: 2px solid white;
}
.w3-btn-no-color:hover
{
    color:moccasin!important;
    background-color:rgba(0,0,0,0.3)!important;
    text-decoration: underline!important;
}


/**Animations**/

.animate-zoom-hover
{
    -webkit-animation:animatezoomout 0.6s;
    -webkit-animation-fill-mode: forwards;
    animation:animatezoomout 0.6s;
    animation-fill-mode: forwards;
}

.animate-zoom-hover:hover
{
    -webkit-animation:animatezoomin 0.6s;
    -webkit-animation-fill-mode: forwards;
    animation:animatezoomin 0.6s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animatezoomin
{from{-webkit-transform:scale(1)} to{-webkit-transform:scale(1.1)}}
@keyframes animatezoomin
{from{transform:scale(1)} to{transform:scale(1.1)}}

@-webkit-keyframes animatezoomout
{from{-webkit-transform:scale(1.1)} to{-webkit-transform:scale(1)}}
@keyframes animatezoomout
{from{transform:scale(1.1)} to{transform:scale(1)}}

@-webkit-keyframes animateCenter
{to{-webkit-transform:translate(-50%, -50%)}}
@keyframes animateCenter
{to{transform:translate(-50%, -50%)}}

@-webkit-keyframes animateSlideLeft
{to{-webkit-transform:translate(-100%)}}
@keyframes animateSlideLeft
{to{transform:translate(-100%)}}

/* Underline Reveal */
.hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: visible;
}
.hvr-underline-reveal:before {
    content: "";
    position: absolute;
    margin: 0 auto;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: -8px;
    background: #ddd;
    height: 0px;
    width: 50px;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-transition-property: transform;
    transition-property: transform;
    transition-duration: 0.6s;-webkit-transition-duration: 0.6s;-moz-transition-duration: 0.6s;-o-transition-duration: 0.6s;
    transition-timing-function:ease-out;-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
    background: chocolate;
    height: 2px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.glow {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
     text-shadow: 0 -4px 1px #fff, 0 -4px 2px #fff, 0 -4px 3px coral, 0 -4px 4px coral, 0 -4px 5px coral, 0 -4px 6px coral, 0 -4px 7px coral;
  }
  to {
    text-shadow: 0 0px 2px #fff, 0 0px 3px lightcoral, 0 0px 4px lightcoral, 0 0px 5px lightcoral, 0 0px 6px lightcoral, 0 0px 7px lightcoral, 0 0px 8px lightcoral;
  }
}

.w3-animate-top
{
    position:relative;
    -webkit-animation:animatetop 1s;
    animation:animatetop 1s;
}
.w3-animate-left
{
    position:relative;
    -webkit-animation:animateleft 1s;
    animation:animateleft 1s;
}

.w3-animate-right
{
    position:relative;
    -webkit-animation:animateright 1s;
    animation:animateright 1s;
}
.w3-animate-bottom
{
    position:relative;
    -webkit-animation:animatebottom 1s;
    animation:animatebottom 1s;
}
.w3-animate-link
{
    position:relative;
    -webkit-animation:animatebottom 1s;
    animation:animatebottom 1s;
}
.w3-animate-opacity
{
    -webkit-animation:opac 1s;
    animation:opac 1s;
}