
/*         
                <span class="w3-left" style="width:50%;font-size:1.15em;letter-spacing:-4px;text-align:right"><span class="FontBold">Avenii</span> <br> <span style="font-size:20px;letter-spacing:0.2em">Johnson</span></span>
                <span class="w3-left" style="width:50%;font-size:0.75em"><span class="">Graphic</span> <br> <span class="FontBold" style="letter-spacing:0.125em;border-bottom:0.15em solid rgb(15,170,235);">Artist</span></span>
*/

@font-face {
    font-family: BebasNeueBook;
    src: url(Fonts/bebas_neue/BebasNeueBook.ttf) format('truetype');
    src: url(Fonts/bebas_neue/BebasNeueBook.otf) format('opentype');
    src: url(Fonts/bebas_neue/BebasNeueBook.woff) format('woff');
}
@font-face {
    font-family: BebasNeueThick;
    src: url(Fonts/bebas_neue/BebasNeue.ttf) format('truetype');
    src: url(Fonts/bebas_neue/BebasNeue.otf) format('opentype');
    src: url(Fonts/bebas_neue/BebasNeue.woff) format('woff');
}

@font-face {
    font-family: Herald;
    src: url(Fonts/Herald/Herald.ttf) format('truetype');
    src: url(Fonts/Herald/Herald.otf) format('opentype');
    src: url(Fonts/Herald/Herald.woff) format('woff');
}

.w3-allerta{font-family: "Allerta Stencil", Sans-serif;}
.Herald{font-family: 'Herald';}
.PTSans{font-family: 'PT Sans', sans-serif;}
.IndieFlower{font-family: 'Indie Flower', cursive, 'Amatic SC';}
.SansSerif{font-family: 'Sans-Serif';}
.BebasNeue{font-family: 'BebasNeueBook';font-weight: 400;}
.BebasNeueThick{font-family: 'BebasNeueThick';}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

body
{
    position: relative;
    font-size: 100%;
    //font-family: 'PTSans';
    margin: auto;
    padding: 0;
    height: 100%;
    background-color: #f9e4ca;
}

@media only screen and (min-width:1920px) {
    .aa-hide-1920x2560{
        display:none!important;
    }    
    .aa-show-1920x2560{
        display:block!important;
    }
}
@media only screen and (min-width:1440px) and (max-width:1919px) {
    .aa-hide-1440x{
        display:none!important;
    }    
    .aa-show-1440x{
        display:block!important;
    }
}
@media only screen and (min-width:1366px) and (max-width:1439px) {
    .aa-hide-1366x{
        display:none!important;
    }    
    .aa-show-1366x{
        display:block!important;
    }
}
@media only screen and (min-width:900px) and (max-width:1365px) {
    .aa-hide-1024x{
        display:none!important;
    }    
    .aa-show-1024x{
        display:block!important;
    }
}
@media only screen and (min-width:725px) and (max-width:899px) {
    .aa-hide-tablet{
        display:none!important;
    }    
    .aa-show-tablet{
        display:block!important;
    }
}
@media only screen and (min-width:425px) and (max-width:724px) {
    .aa-hide-mobile{
        display:none!important;
    }    
    .aa-show-mobile{
        display:block!important;
    }
}
@media only screen and (max-width:424px) {
    .aa-hide-mobile-425x{
        display:none!important;
    }    
    .aa-show-mobile-425x{
        display:block!important;
    }
}
@media only screen and (min-width:2560px) {
    .w3-responsive-center{
        //margin-left:10%!important;
        //margin-right:10%!important;
    }
}


/**Top Page Navigation Menu**/
.navMenu
{
    position: relative;
    font-family: 'Herald';
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-size:125%;
    //text-shadow:3px 5px 15px #6e1e1e;
    //overflow:hidden;
    z-index: 3;
}

.FontBold
{
    font-weight: 800;
}
.Uppercase
{
    text-transform: uppercase;
}
.FirstChar
{
    font-weight: 550;
    font-size: 1.5em;
}
.underline
{
    text-decoration: underline;
}

.bottom
{
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif !important;
    border-top: 0.45em solid white;
    background-color: black;
    color: white;
}

.Center{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-animation:animateCenter 0.5s;
    animation:animateCenter 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    //transform: translate(-50%, -50%);
}

.PageSlideLeft{
    -webkit-animation:animateSlideLeft 1s;
    animation:animateSlideLeft 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.text-shadow
{
    text-shadow: 2px 2px 12px black;
}

/**Borders**/


/**Hover Colors**/

.w3-btn-no-color
{
    color:white!important;
    background-color:rgba(0,0,0,0.3)!important;
    border-right: 2px solid white;
}
.w3-btn-no-color:hover
{
    color:moccasin!important;
    background-color:rgba(0,0,0,0.3)!important;
    text-decoration: underline!important;
}


/**Animations**/

.animate-zoom-hover
{
    -webkit-animation:animatezoomout 0.6s;
    -webkit-animation-fill-mode: forwards;
    animation:animatezoomout 0.6s;
    animation-fill-mode: forwards;
}

.animate-zoom-hover:hover
{
    -webkit-animation:animatezoomin 0.6s;
    -webkit-animation-fill-mode: forwards;
    animation:animatezoomin 0.6s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animatezoomin
{from{-webkit-transform:scale(1)} to{-webkit-transform:scale(1.1)}}
@keyframes animatezoomin
{from{transform:scale(1)} to{transform:scale(1.1)}}

@-webkit-keyframes animatezoomout
{from{-webkit-transform:scale(1.1)} to{-webkit-transform:scale(1)}}
@keyframes animatezoomout
{from{transform:scale(1.1)} to{transform:scale(1)}}

@-webkit-keyframes animateCenter
{to{-webkit-transform:translate(-50%, -50%)}}
@keyframes animateCenter
{to{transform:translate(-50%, -50%)}}

@-webkit-keyframes animateSlideLeft
{to{-webkit-transform:translate(-100%)}}
@keyframes animateSlideLeft
{to{transform:translate(-100%)}}

.w3-animate-top
{
    position:relative;
    -webkit-animation:animatetop 1s;
    animation:animatetop 1s;
}
.w3-animate-left
{
    position:relative;
    -webkit-animation:animateleft 1s;
    animation:animateleft 1s;
}

.w3-animate-right
{
    position:relative;
    -webkit-animation:animateright 1s;
    animation:animateright 1s;
}
.w3-animate-bottom
{
    position:relative;
    -webkit-animation:animatebottom 1s;
    animation:animatebottom 1s;
}
.w3-animate-opacity
{
    -webkit-animation:opac 1s;
    animation:opac 1s;
}