/*Custom Modal*/
.aa-modal{
    position:fixed;
    display: none;
    z-index: 99;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    top:0;
    left:0;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color:rgba(0,0,0,0.8);
}

.aa-modal-content{
    margin: 0 auto;
    padding:15px;
    outline:0;
    border: 1px solid #888;
    background-color: white;
    overflow: hidden;
    width: auto;
    height: auto;
}


@media only screen and (min-width:1920px) {
    .aa-modal-content{
        margin: 0 auto;
        padding:10px;
        outline:0;
        border: 1px solid #888;
        background-color: white;
        min-width: 1440px;
        height: auto;
    }
    .aa-Sponsor-modal-content{
        margin: 0 auto;
        padding:10px;
        outline:0;
        border: 1px solid #888;
        background-color: white;
        width: auto;
        height: 98%;
    }
}
@media only screen and (min-width:1440px) and (max-width:1919px) {
    .aa-modal-content{
        margin: 0 auto;
        padding:1px;
        outline:0;
        border: 1px solid #888;
        background-color: white;
        min-width: 1024px;
        height: auto;
    }
    .aa-Sponsor-modal-content{
        margin: 0 auto;
        padding:5px;
        outline:0;
        border: 1px solid #888;
        background-color: white;
        min-width: 1024px;
        height: 98%;
    }
}
@media only screen and (min-width:1366px) and (max-width:1439px) {
    .aa-modal-content{
        margin: 0 auto;
        padding:15px;
        outline:0;
        border: 1px solid #888;
        background-color: white;
        min-width: 1024px;
        height: auto;
    }
    .aa-Sponsor-modal-content{
        margin: 0 auto;
        padding:5px;
        outline:0;
        border: 1px solid #888;
        background-color: white;
        min-width: 1024px;
        height: 98%;
    }
}
@media only screen and (min-width:1024px) and (max-width:1365px) {
    .aa-modal-content{
        margin: 0 auto;
        padding:15px;
        outline:0;
        border: 1px solid #888;
        background-color: white;
        width: 90%;
        height: auto;
    }
    .aa-Sponsor-modal-content{
        margin: 0 auto;
        padding:5px;
        outline:0;
        border: 1px solid #888;
        background-color: white;
        min-width: 1024px;
        height: 98%;
    }
}
@media only screen and (min-width:725px) and (max-width:1023px) {
    .aa-modal-content{
        margin: 0 auto;
        padding:5px;
        outline:0;
        border: 1px solid #888;
        background-color: white;
        width: 98%;
        height: auto;
    }
    
    .aa-Sponsor-modal-content{
        margin: 0 auto;
        padding:5px;
        outline:0;
        border: 1px solid #888;
        background-color: white;
        min-width: 725px;
        height: 98%;
    }
}

@media only screen and (min-width:425px) and (max-width:724px) {
    .aa-modal-content{
        margin: 0 auto;
        padding:5px;
        outline:0;
        border: 1px solid #888;
        background-color: white;
        width: 98%;
        height: auto;
    }
        .aa-Sponsor-modal-content{
        margin: 0 auto;
        padding:5px;
        outline:0;
        border: 1px solid #888;
        background-color: white;
        width: 98%;
        height: 98%;
    }
}
@media only screen and (max-width:424px) {
    .aa-modal-content{
        margin: 0 auto;
        padding:1px;
        outline:0;
        border: 1px solid #888;
        background-color: white;
        width: 98%;
        height: auto;
    }
        .aa-Sponsor-modal-content{
        margin: 0 auto;
        padding:5px;
        outline:0;
        border: 1px solid #888;
        background-color: white;
        width: 98%;
        height: 98%;
    }
}