#Java{
  background-color:rgb(90,60,60);
}


.item, .single-item{
  text-align:center;
  padding:15px 15px 25px 15px;
  height:28%;
  width:27%;
  font-size:20px;
  border: 3px solid rgba(50,50,70,0.25);
  border-radius: 25px 0px 25px 0px;
  display:inline-block;
  float:left;
  margin-left:25px;
}

.item button, .single-item button{
  text-decoration:none;
  border:none;
  border-radius:25px;
  -webkit-transition:0.5s;
  -moz-transition:0.5s;
  transition:0.5s;
  padding:15px;
  top:15px;
  position:relative;
  font-size:24px;
}
.single-item button{
   top: 50%;
   transform: translate(0, -50%);
}

.item button:hover{
  color: rgb(200,200,200);
  background-color:rgb(50,50,70);
}
.single-item button:hover{
  color: rgb(200,200,200);
  background-color:rgb(50,50,70);
}